f 1
group
replica us-east-1-0.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
replica us-east-1-1.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
replica us-east-1-2.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
f 1
group
replica eu-west-1-0.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
replica eu-west-1-1.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
replica eu-west-1-2.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
f 1
group
replica ap-southeast-2-0.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
replica ap-southeast-2-1.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257
replica ap-southeast-2-2.roachy9.crdbdriver-pg0.utah.cloudlab.us:26257